.post {
  border-radius: 6px;
  padding: 20px;

  &__title {
    font-size: $font-size-xxlarge;
    color: $color-text;

    &--md {
      font-size: $font-size-xxlarge;
    }
  }

  &__text {
    font-size: $font-size-medium;
    color: $color-muted;
  }

  &__date,
  &__author {
    font-weight: 600;
    color: $color-muted;
  }
}
