// Colors
$color-dark: rgb(13 13 21); // background
$color-dark-alt: rgb(26 25 37); // footer
$color-primary: rgb(2 101 220); // main blue
$color-accent: rgb(55 125 255); // hover links
$color-text: rgb(245 248 251); // main text
$color-light: rgb(239 245 250 / 0.82); // lighter text
$color-danger: rgb(234 56 41); // sold out

// Fonts
$font-base: "Poppins", sans-serif;
$font-heading: "Bakbak One", sans-serif;

// Font sizes
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 20px;
$font-size-xlarge: 24px;
$font-size-xxlarge: 36px;
$font-size-xxxlarge: 52px;
