{% extends 'src/templates/layouts/base.twig' %}
{% set currentPage = 'Blog' %}

{% block title %}{{ pages.blog.title }}{% endblock %}
{% set body_class = 'blogpage' %}

{% block content %}
  <div class='blog-layout'>
    {% include 'src/templates/partials/blog-breadcrumbs.twig' %}

    {% include 'src/templates/partials/blog-sidebar.twig' %}
    {% include 'src/templates/partials/blog-article.twig' %}
  </div>
{% endblock %}
