<!-- prettier-ignore -->
<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'>
    <meta name='description' content='{% block description %}{% endblock %}'>
    <title>{% block title %}{% endblock %}</title>

    <link rel='preconnect' href='https://fonts.googleapis.com'>
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
    <link
      href='https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap'
      rel='stylesheet'
    >
    <link
      href='https://fonts.googleapis.com/css2?family=Bakbak+One&family=Poppins:wght@400;500;600&display=swap'
      rel='stylesheet'
    >
    <link rel='stylesheet' href='src/styles/normalize.css'>
    <link rel='stylesheet' href='src/styles/style.css'>
  </head>

  <body class='{{ body_class }}'>
    {% include '../partials/layout-header.twig' %}

    <main>
      {% block content %}{% endblock %}
    </main>

    {% include '../partials/layout-footer.twig' %}
  </body>
</html>
